src/main/resources/xsd/books.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://www.polstat.com/perpustakaan/gen"
           targetNamespace="http://www.polstat.com/perpustakaan/gen" elementFormDefault="qualified">

    <xs:element name="addBookRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="addBookResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookDto"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="getAllBooksRequest">
        <xs:complexType/>
    </xs:element>

    <xs:element name="getAllBooksResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="book" type="tns:bookDto" minOccurs="0" maxOccurs="unbounded"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:complexType name="bookDto">
        <xs:sequence>
            <xs:element name="id" type="xs:long"/>
            <xs:element name="title" type="xs:string"/>
            <xs:element name="author" type="xs:string"/>
            <xs:element name="description" type="xs:string"/>
        </xs:sequence>
    </xs:complexType>

</xs:schema>